Global styles
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

/* Building helpers *********************************/
.float-left {
    float: left;
}

.float-right {
    float: right;
}

.display-none {
    display: none;
}

.clear {
    clear: both;
}

.clearfix:after {
	content: " ";
    visibility: hidden;
    display: block;
	font-size: 0;
    height: 0;
    clear: both;
}

.flex-center {
	display: flex;
	justify-content: center;
}



/* Email window *************************************/
.app .email-form {
	width: 703px;
	height: 834px;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 50);
    background-color: rgba(255, 255, 255, 100);
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 5;
	margin: 45vh 0px 0px 50%;
}

.app .email-form .email-header {
    background-color: rgba(8, 61, 140, 100);
    height: 140px;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    color: rgb(255, 255, 255);
}

.app .email-form .email-header .close {
    margin: 10px 10px 0px 0px;
}

.app .email-form .email-header .email-address {
    font-size: 18px;
    margin: 0px 0px 0px 51px;
}

.app .email-form .email-header .dealer-name {
    font-size: 32px;
    margin: 7px 0px 0px 44px;
}

.app .email-form .dealer-name-inject {
    margin: 30px 0px 0px 30px;
    font-size: 14px;
    font-family: "Open Sans";
    color: rgb(97, 97, 97);
}

.app .email-form .body {
    background-color: rgba(246, 246, 246, 100);
    height: 497px;
    margin: 25px 30px 0px 30px;
    padding: 23px 23px 7px 23px;
}

.app .email-form .body .text {
    font-size: 14px;
    font-family: "Helvetica";
    color: rgb(97, 97, 97);
    margin: 2px 0px 0px 0px;
}

.app .email-form .body p {
    font-size: 14px;
    font-family: "Helvetica";
    color: rgb(97, 97, 97);
    margin: 15px 0px 0px 0px;
}

.app .email-form .body p2 {
    font-size: 14px;
    font-family: "Helvetica";
    color: rgba(97, 97, 97, .5);
    margin: 15px 0px 0px 0px;
}

.app .email-form .body .name-input input {
    width: 598px;
    height: 48px;
    margin: 7px 0px 0px 0px;
}

.app .email-form .body .phone-input input {
    width: 243px;
    height: 48px;
    margin: 5px 0px 0px 0px;
}

.app .email-form .body .email-input input {
    width: 596px;
    height: 48px;
    margin: 4px 0px 0px 0px;
}

.app .email-form .body .comments-input input {
    width: 596px;
    height: 68px;
    margin: 4px 0px 0px 0px;
}

.app .email-form .body input {
    font-size: 23px;
    font-family: "Helvetica";
    color: rgba(97, 97, 97, .5);
}

.app .email-form .body .buttons {
    width: 200px;
    height: 50px;
    margin: 34px 0px 0px 0px;
}

.app .email-form .body .buttons .button {
    border: solid;
    border-width: thin;
    border-radius: 3px;
    width: 61px;
    height: 23px;
    text-align: center;
    font-family: "Open Sans";
    font-size: 12px;
    padding-top: 5px;
}

.app .email-form .body .buttons .button-yes {
    border-color: rgba(2, 107, 107, 100);
    color: rgba(216, 216, 216, 100);
    margin: 7px 0px 0px 2px;
}

.app .email-form .body .buttons .button-no {
    border-color: rgba(63, 63, 63, 100);
    margin: 7px 64px 0px 0px;
}

.app .email-form .body .buttons .btn-selected {
    background-color: rgba(2, 199, 198, 100);
}

.app .email-form .body .divider {
    width: 593px;
    height: 0px;
    border: solid;
    border-color: rgba(229, 229, 229, .5);
    border-width: thin;
    margin: auto;
}

.app .email-form .body .send {
    margin: 0px 0px 0px 0px;
}

.app .email-form .body .send p {
    margin: 31px 0px 0px 234px;
}

.app .email-form .body .next-icon {
    width: 20px;
    height: 25px;
    margin: 26px 0px 0px 22px;
}

.app .email-form .email-footer {
    background-color: rgba(246, 246, 246, 100);
    height: 64px;
    width: 700px;
    margin: 0px 0px 0px 1px;
}

.app .email-form .email-footer p {
    font-size: 12px;
    font-family: "Helvetica";
    color: rgba(51, 51, 51, 100);
    margin: 29px 22px 0px 38px;
    padding-top: 17px;
}



/* Banner & Header **********************************/
.app .top-banner {
    background-color: rgb(13, 60, 127);
    height: 42px;
}

.app .top-banner .banner-contents {
    width: 400px;
    padding: 10px;
    margin-top: 4px;
}

.app .top-banner .banner-link {
    font-family: 'helvetica';
    font-size: 12px;
    font-weight: 100;
    color: rgba(255, 255, 255, .5);
    margin-left: 40px;
    cursor: pointer;
}

.app .top-banner .banner-icon {
    width: 12px;
    height: 12px;
	margin: 1px 0px 0px 15px;
    cursor: pointer;
}

.app .header {
    background-color: rgb(255, 255, 255);
    margin: auto;
    height: 102px;
	text-align: center;
}

.app .header .header-right .dropdown {
    position: relative;
    display: inline-block;
    border-top: solid;
    border-color: white;
    transition: 300ms;
}

.app .header .header-right .dropdown:hover {
    border-top: solid;
    border-color: rgb(2, 199, 198);;
    transition: 300ms;
}

.app .header .header-right .dropdown .dropbtn .nav-item {
    margin: 28px 0px 0px 0px;
}

.app .header .header-right .dropdown .dropbtn .dropdown-icon {
    width: 8px;
    height: 8px;
    margin-top: 33px;
    margin-left: 10px;
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    position: absolute;
}

.app .header .header-right .dropdown .dropbtn {
    font-family: 'helvetica';
    color: rgb(8, 61, 140);
    border-top: solid;
    border-color: rgb(255, 255, 255);
    font-size: 16px;
    border: none;
    height: 69px;
    transition: 300ms;
    padding: 16px 21px 16px 11px;
}

.dropdown-content {
    position: absolute;
    font-family: 'helvetica';
    color: rgb(97, 97, 97);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: 376px;
    border-bottom: solid;
    border-color: rgb(2, 199, 198);
    background-color: rgb(246, 246, 246);
    line-height: 35px;
    z-index: 3;
    margin: -2px 0px 0px -143px;
    padding: 30px 0px 36px 40px;
    display: none;
}

.dropdown:hover .dropdown-content {
	display: block;
    cursor: pointer;
}

.left-column {
    width: 170px;
    float: left;
}

.right-column {
    width: 170px;
	float: left;
}

/*
.app .header .header-right .highlight {
    border-top: solid;
    border-color: white;
}
*/



.app .header .header-right .highlight:hover {
/*    border-top: solid;*/
/*    border-color: rgb(2, 199, 198);*/
    background-color: rgb(246, 246, 246);
}

.pools-dropdown {
    height: 150px;
}
.supplies-dropdown {
    height: 135px;
}
.resources-dropdown {
    height: 175px;
}
.services-dropdown {
    height: 138px;
}



/* Finder *******************************************/
.app .header .header-right .finder {
    font-family: 'helvetica';
    font-size: 14px;
    color: rgb(33, 109, 223);
    width: 155px;
    height: 42px;
    border-radius: 5px;
    border: solid;
    border-width: 1.5px;
    border-color: rgb(33, 109, 223);
	margin: 24px 68px 0px 70px;
    cursor: pointer;
}

.app .header .header-right .finder .finder-icon {
    width: 12.09px;
    height: 16.48px;
	margin: 12px 0px 0px 15px;
}

.app .header .header-right .finder .finder-text {
    font-family: 'helvetica';
    color: rgb(8, 61, 140);
    font-weight: 600;
	margin: 12px 0px 0px 35px;
}



/* End of nav bar ***********************************/
.app .hero-image {
    background-image: url('assets/hero-image.png');
    background-position: center;
    background-size: cover;
    height: 407px;
    position: relative;
    z-index: 1;
}

.app .hero-image .hero-image-text {
    text-align: center;
    padding-top: 84px;
    position: relative;
    z-index: 2;
}

.app .hero-image .hero-image-text .line-one {
    color: rgb(255, 255, 255);
    font-family: 'helvetica';
    font-size: 47px;
    font-weight: 100;
    text-shadow: 0px 2px 10px rgb(4, 26, 59);
}

.app .hero-image .hero-image-text .line-two {
    color: rgb(2, 199, 198);
    font-family: 'helvetica';
    font-size: 19px;
    font-weight: 100;
    text-shadow: 0px 1px 10px rgb(4, 26, 59);
	margin: 26px 0px 42px 0px;
}

.app .hero-image .hero-image-text .line-three {
    color: rgb(216, 216, 216);
    font-family: 'helvetica';
    font-size: 14px;
    font-weight: 100;
    margin-top: 33px;
    letter-spacing: 1px;
}

.app .hero-image .divider {
    width: 135px;
    height: 0px;
    border: solid;
    border-color: rgb(255, 255, 255);
    border-width: thin;
    margin: auto;
}

.app .zipcode-query {
    background: rgba(245, 245, 245, 0.8);
    color: rgb(17, 72, 150);
    border-radius: 5px;
    height: 250px;
    width: 450px;
    padding: 25px;
    text-align: center;
    font-family: 'helvetica';
    font-weight: 600;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 4;
	margin: 40vh 0px 0px 50%;
}

.app .zipcode-query .finder-close {
    margin: 0px 0px 10px 400px;
    cursor: pointer;
}

.app .zipcode-query input {
    border: none;
    border-radius: 10px;
    background: rgba(76, 76, 82, 0.5);
    width: 250px;
    height: 40px;
    padding: 10px;
    color: rgb(255, 255, 255);
	margin: 10% 0px 25px 0px;
}

.app .search-btn {
    width: 219px;
    height: 60px;
    background-color: rgb(33, 109, 223);
    border-radius: 6px;
    margin: auto;
    font-size: 40px;
    padding-top: 10px;
    cursor: pointer;
}



/* Steps 1-2-3 ***************************************/	
.app .steps {
	text-align: center;
	padding-right: 50px;
}

.app .steps .step {
    width: 302px;
    height: 100px;
    font-size: 10px;
    padding: px;
	margin: 0px 0px 0px 40px;
	display: inline-block;
}

.app .steps .step .image {
    width: 84px;
    height: 84px;
	margin: 25px 0px 0px 25px;
}

.app .steps .step .title {
    margin-top: 27px;
    width: 171px;
    padding: 5px;
    font-size: 14px;
    font-family: 'helvetica';
    font-weight: 600;
    color: rgb(13, 60, 127);
}

.app .steps .step .body {
    width: 170px;
    padding: 5px;
    font-size: 11px;
}



/* Search */
.app .bubbles-banner {
    height: 113px;
    background-image: url(assets/water-image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
	padding-top: 142px;
}

.app .search {
    height: 83px;
    border-radius: 11px;
    background-color: rgba(246, 246, 246, 100);
	margin: 8px 50px 5px 50px;
	text-align: center;
}

.app .search .wrapper-left {
    display: inline-block;
	padding: 0 0 50px 0;
    width: 290px;
}

.app .search .wrapper-right {
    display: inline-block;
    padding: 0 0 60px 0;
    width: 565px;
}

.app .search .result-quantity {
    font-size: 18px;
    font-family: 'helvetica';
    color: rgb(33, 109, 223);
	margin: 28px 0 0 0;
	
}

.app .search .divider {
    border: solid;
    border-color: rgb(229, 229, 229);
    border-width: thin;
    width: 0px;
    height: 49.51px;
	padding-top: 0px;
	margin: 15px 0px 0px 36px;
}

.app .search .filter-results {
    font-size: 17px;
    font-family: 'helvetica';
    padding-top: 28px;
	margin: 2px 0px 0px 33px;
}

.app .search .checkbox-off {
    width: 24px;
    height: 24px;
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: rgb(216, 216, 216);
	margin: 29px 0px 0px 45px;
    cursor: pointer;
}

.app .search .checkbox-on {
    width: 6.5px;
    height: 6.5px;
    border-radius: 5px;
    border: solid;
    border-width: 9px;
    border-color: rgb(33, 109, 223);
	margin: 29px 0px 0px 45px;
    cursor: pointer;
}

.app .search .category {
    font-size: 12px;
    font-family: 'helvetica';
    float: left;
	padding-top: 28px;
	margin: 7px 0px 0px 6px;
}

.app .bubbles-banner .search .tip-icon {
    float: left;
    width: 20px;
    height: 20px;
    margin: 31px 0px 0px 7px;
    cursor: pointer;
}



/* FP Dealer *****************************************/
.app .dealer-shell {
    text-align: center;
}

.app .dealer-shell .dealers {
    width: 410px;
    height: 518px;
    border-radius: 10px;
    border: solid;
    border-width: 1px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 50);
	margin: 5px;
    display: inline-block;
}

.app .dealer-shell .dealers .title {
    font-family: 'helvetica';
    font-size: 24px;
    width: 326px;
    text-align: center;
	margin: 41px 0px 0px 42px;
}

.app .dealer-shell .dealers .divider {
    border: solid;
    border-color: rgb(229, 229, 229);
    border-width: thin;
    width: 377px;
    height: 0px;
	margin: 27px 0px 39px 16px;
}

.app .dealer-shell .dealers .phone-icon {
    width: 28px;
    height: 28px;
    float: left;
    margin-left: 78px;
}

.app .dealer-shell .dealers .dealer-number {
    font-family: 'helvetica';
    font-weight: 300;
    font-size: 26px;
    color: rgb(63, 63, 63);
    margin-left: 116px;
}

.app .dealer-shell .dealers .email-prompt {
    font-family: 'helvetica';
    font-size: 10px;
    font-style: italic;
	margin: 21px 0px 0px 74px;
}

.app .dealer-shell .dealers .email-shell {
    width: 204px;
    height: 44px;
    border: solid;
    border-radius: 2px;
    border-width: 1px;
    border-color: rgb(2, 199, 198);
	margin: 18px 0px 0px 102px;
    cursor: pointer;
}

.app .dealer-shell .dealers .email-icon {
    width: 14.93px;
    height: 12.8px;
    float: left;
	margin: 15px 0px 0px 21px;
}

.app .dealer-shell .dealers .email-text {
    font-family: 'helvetica';
    font-weight: 600;
    font-size: 16px;
    font-weight: normal;
    color: rgb(8, 61, 140);
	margin: 14px 0px 0px 49px;
}

.app .dealer-shell .dealers .business-hours {
    text-align: center;
    font-size: 12px;
    color: rgb(63, 63, 63);
    margin-top: 30px;
}



/* Footer ****************************************************/
.app .footer {
    background-color: rgb(8, 61, 140);
    height: 132px;
    width: 100%;
}

.app .footer .footer-logo {
    width: 188px;
    height: 26px;
    left: 50%;
	margin-top: 45px;
    margin-left: 49%;
    transform: translate(-50%, -50%);
}

.app .footer .footer-content {
    margin-top: 0px;
    right: 50%;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    width: 750px;
}

.app .footer .footer-text {
    font-size: 14px;
    float: left;
    font-family: 'helvetica';
    font-weight: 400;
    color: rgba(255, 255, 255, .5);
	margin: 40px 0px 0px 205px;
}

.app .footer .footer-icon-twitter {
    width: 25px;
    height: 25px;
	margin: 37px 0px 0px 27px;
    cursor: pointer;
}

.app .footer .footer-icon-facebook {
    width: 17px;
    height: 31px;
    margin-left: 27px;
    cursor: pointer;
}

.app .footer .footer-icon-youtube {
    width: 27px;
    height: 27px;
	margin: 30px 0px 0px 21px;
    cursor: pointer;
}



/* bottom banner *************************************/
.app .bottom-banner {
    background-color: rgb(33, 109, 223);
    height: 39px;
}

.app .bottom-banner .bottom-banner-text {
    text-align: center;
    color: rgba(255, 255, 255, .5);
    font-family: 'helvetica';
    font-size: 13px;
    padding-top: 11px;
    cursor: pointer;
}














/* Mobile ***************************************************/
/* Mobile email window **************************************/
.mobile .email-form {
	width: 345px;
	height: 834px;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 50);
    background-color: rgba(255, 255, 255, 100);
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 5;
	margin: 25vh 0px 0px 50%;
}

.mobile .email-form .email-header {
    background-color: rgba(8, 61, 140, 100);
    height: 140px;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    color: rgb(255, 255, 255);
}

.mobile .email-form .email-header .close {
    margin: 5px 10px 0px 0px;
    float: right;
}

.mobile .email-form .email-header .email-address {
    font-size: 14px;
    margin: 0px 0px 0px 25px;
}

.mobile .email-form .email-header .dealer-name {
    font-size: 26px;
    margin: 3px 0px 0px 22px;
    padding-right: 50px;
}

.mobile .email-form .dealer-name-inject {
    margin: 30px 0px 0px 18px;
    font-size: 14px;
    font-family: "Open Sans";
    color: rgb(97, 97, 97);
}

.mobile .email-form .body {
    background-color: rgba(246, 246, 246, 100);
    height: 497px;
    margin: 14px 0px 0px 0px;
    padding: 14px 23px 7px 18px;
}

.mobile .email-form .body .text {
    font-size: 14px;
    font-family: "Helvetica";
    color: rgb(97, 97, 97);
    margin: 2px 0px 0px 0px;
}

.mobile .email-form .body p {
    font-size: 14px;
    font-family: "Helvetica";
    color: rgb(97, 97, 97);
    margin: 15px 0px 0px 0px;
}

.mobile .email-form .body p2 {
    font-size: 14px;
    font-family: "Helvetica";
    color: rgba(97, 97, 97, .5);
    margin: 15px 0px 0px 0px;
}

.mobile .email-form .body .name-input input {
    width: 308px;
    height: 48px;
    margin: 7px 0px 0px 0px;
}

.mobile .email-form .body .phone-input input {
    width: 196px;
    height: 48px;
    margin: 5px 0px 0px 0px;
}

.mobile .email-form .body .zipcode-input input {
    width: 160px;
    height: 48px;
    margin: 5px 0px 0px 0px;
}

.mobile .email-form .body .email-input input {
    width: 310px;
    height: 48px;
    margin: 4px 0px 0px 0px;
}

.mobile .email-form .body .comments-input input {
    width: 310px;
    height: 68px;
    margin: 4px 0px 0px 0px;
}

.mobile .email-form .body input {
    font-size: 23px;
    font-family: "Helvetica";
    color: rgba(97, 97, 97, .5);
}

.mobile .email-form .body .buttons-mobile {
    width: 200px;
    height: 50px;
    margin: 34px 0px 0px 0px;
}

.mobile .email-form .body .buttons-mobile .button-mobile {
    border: solid;
    border-width: thin;
    width: 61px;
    text-align: center;
    font-family: "Open Sans";
    font-size: 12px;
    padding-top: 3px;
}

.mobile .email-form .body .buttons-mobile .button-yes-mobile {
    width: 5px;
    height: 2.5px;
    border: solid;
    border-width: 5px;
    border-color: rgb(33, 109, 223);
    margin: 20px 0px 0px 20px;
}

.mobile .email-form .body .buttons-mobile .button-no-mobile {
    width: 13px;
    height: 10px;
    border: solid;
    border-width: 1px;
    border-color: rgb(216, 216, 216);
    margin: 20px 0px 0px 20px;
}

.mobile .email-form .body .buttons-mobile p {
    margin: 20px 0px 0px 15px;
}

.mobile .email-form .body .divider {
    width: 593px;
    height: 0px;
    border: solid;
    border-color: rgba(229, 229, 229, .5);
    border-width: thin;
    margin: auto;
}

.mobile .email-form .body .send {
    margin: 0px 0px 0px 0px;
}

.mobile .email-form .body .send p {
    margin: 31px 0px 0px 234px;
}

.mobile .email-form .body .next-icon {
    width: 20px;
    height: 25px;
    margin: 25px 0px 0px 10px;
}



/* Mobile banner ********************************************/
.mobile {
	max-width: 370px;
	margin: 0 auto;
}

.mobile .banner {
    height: 53px;
}

.mobile .header-logo {
    width: 155px;
    height: 21px;
    margin: 19px 0px 0px 8px;
}

.mobile .finder {
    font-family: 'helvetica';
    font-size: 12px;
    color: rgb(33, 109, 223);
    width: 108px;
    height: 24px;
    border-radius: 3px;
    border: solid;
    border-width: .5px;
    border-color: rgb(33, 109, 223);
    margin: 11px 0px 0px 26px;
    padding: 10px 0px 0px 0px;
}

.mobile .finder .finder-icon {
    width: 12.09px;
    height: 16.48px;
    margin: 0px 0px 0px 15px;
}

.mobile .finder .finder-text {
    font-family: 'helvetica';
    color: rgb(8, 61, 140);
    font-weight: 600;
	margin: 0px 0px 0px 0px;
}

.mobile .menu-icon {
    width: 57px;
    height: 57px;
    margin: 9px 0px 0px 13px;
}



/* Mobile nav ****************************************************/
.mobile .mobile-nav {
    width: 375px;
    height: 417px;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 50);
    border-top: solid;
    border-top-color: aqua;
    border-bottom: solid;
    border-bottom-color: aqua;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 6;
	margin: 25vh 0px 0px 50%;
}

.mobile .mobile-nav .menu {
    background-color: rgba(255, 255, 255, 100);
    height: 83px;
}

.mobile .mobile-nav .menu .nav-close {
    color: aqua;
    margin: 10px 10px 0px 0px;
}

.mobile .mobile-nav .menu h{
    font-family: "Open Sans";
    font-weight: 600;
    color: rgba(8, 61, 140, 100);
    font-size: 22px;
    margin: 0px 0px 0px 150px;
}

.mobile .mobile-nav .links {
    background-color: rgba(246, 246, 246, 100);
    height: 83px;
    border-top: solid;
    border-top-color: rgba(255, 255, 255, 100);
}

.mobile .mobile-nav .links .link {
    margin: 30px 0px 0px 30px;
    width: 100px;
    font-family: "Open Sans";
    font-size: 16px;
}

.mobile .mobile-nav .links .mobile-next {
    margin: 25px 0px 0px 175px;
}

.mobile-content {
    display: none;
    position: absolute;
    font-family: 'helvetica';
    color: rgb(97, 97, 97);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: 175px;
    border-bottom: solid;
    border-color: rgb(2, 199, 198);
    background-color: rgb(246, 246, 246);
    line-height: 35px;
    z-index: 3;
    margin: 0px 0px 0px -0px;
    padding: 30px 0px 36px 40px;
}

.links:hover .mobile-content {
	display: block;
}



/* Zipcode query for mobile ************************************/
.mobile .zipcode-query {
    background: rgba(245, 245, 245, 1);
    color: rgb(17, 72, 150);
    border-radius: 5px;
    height: 250px;
    width: 250px;
    padding: 15px;
    text-align: center;
    font-family: 'helvetica';
    font-weight: 600;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 4;
	margin: 25vh 0px 0px 48.5%;
}

.mobile .zipcode-query .finder-close {
    margin: 0px 0px 10px 220px;
}

.mobile .zipcode-query input {
    border: none;
    border-radius: 10px;
    background: rgba(76, 76, 82, 0.5);
    width: 200px;
    height: 40px;
    padding: 10px;
    color: rgb(255, 255, 255);
	margin: 10% 0px 25px 0px;
    font-size: 30px;
    text-align: center;
}

.mobile .search-btn {
    width: 150px;
    height: 40px;
    background-color: rgb(33, 109, 223);
    border-radius: 6px;
    margin: auto;
    font-size: 30px;
    padding-top: 10px;
}



/* Hero image **********************************************/
.mobile .hero-image {
    background-image: url('assets/hero-image-mobile.png');
    background-position: center;
    background-size: cover;
    height: 407px;
    width: 375px;
}

.mobile .hero-image .hero-image-text {
    text-align: center;
    padding: 69px;
    position: relative;
    z-index: 2;
}

.mobile .hero-image .hero-image-text .line-one {
    color: rgb(255, 255, 255);
    font-family: 'helvetica';
    font-size: 27px;
    font-weight: 100;
    text-shadow: 0px 2px 10px rgb(4, 26, 59);
}

.mobile .hero-image .hero-image-text .line-two {
    color: rgb(2, 199, 198);
    font-family: 'helvetica';
    font-size: 14px;
    font-weight: 100;
    text-shadow: 0px 1px 10px rgb(4, 26, 59);
    margin: 44px 0px 42px 5px;
}

.mobile .hero-image .hero-image-text .line-three {
    color: rgb(216, 216, 216);
    font-family: 'helvetica';
    font-size: 14px;
    font-weight: 100;
    margin-top: 33px;
    letter-spacing: 1px;
}

.mobile .hero-image .divider {
    width: 135px;
    height: 0px;
    border: solid;
    border-color: rgb(255, 255, 255);
    border-width: thin;
    margin: auto;
}



/* 1,2,3 steps **********************************************/
.mobile .steps {
    height: 330px;
    margin: 36px 0 0 0;
}

.mobile .steps .step {
    width: 302px;
    height: 51px;
    font-size: 10px;
    padding: 3px;
    margin: 36px 0px 0px 0px;
}

.mobile .steps .step .image {
    width: 62px;
    height: 63px;
    margin: 10px 0px 0px 29px;
}

.mobile .steps .step .title {
    margin-top: 5px;
    width: 171px;
    padding: 5px;
    font-size: 14px;
    font-family: 'helvetica';
    font-weight: 600;
    color: rgb(13, 60, 127);
    margin: 0px 0px 0px 0px;
}

.mobile .steps .step .body {
    width: 170px;
    padding: 0px;
    font-size: 14px;
    font-family: 'Open Sans';
    color: rgb(97, 97, 97);
    margin: 0px 0px 0px 0px;
}



/* Bubbles ******************************************************/
.mobile .bubbles-banner {
    height: 100px;
    background-image: url(assets/water-image.png);
    background-position: center;
    background-size: cover;
    margin: 5px 0px 0px 0px;
}



/* Dealer search ************************************************/
.mobile .search {
    background-color: rgba(246, 246, 246, 100);
    margin: 20px 0 20px 0;
}

/* .mobile .search .mobile-search-row {
	margin-top: 20px;
} */

.mobile .search .result-quantity {
    font-size: 18px;
    font-family: 'helvetica';
    color: rgb(33, 109, 223);
    margin: 31px 0px 0px 23px;
}

.mobile .search .filter-results {
    width: 130px;
    height: 33px;
    font-size: 17px;
    font-family: 'helvetica';
    background-color: rgba(255, 255, 255, 100); 
    padding: 13px 0px 0px 17px;
    margin: 21px 0px 0px 62px;
    border: solid;
    border-width: .5px;
    border-color: rgba(230, 230, 230, 100);
}

.mobile .search .dropdown {
    width: 27px;
    height: 32px;
    font-size: 17px;
    font-family: 'helvetica';
    background-color: rgba(246, 246, 246, 100);
    padding: 14px 0px 0px 17px;
    margin: 21px 0px 0px 0px;
    border: solid;
    border-width: .5px;
    border-color: rgba(230, 230, 230, 100);
}

.mobile .search .checkbox-shell {
    width: 331px;
    height: 217px;
    background-color: rgba(255, 255, 255, 100);
    padding: 0px 0px 0px 0px;
    margin: -1px 0px 0px 21px;
    border: solid;
    border-width: .5px;
    border-color: rgba(230, 230, 230, 100);
}

.mobile .search .checkbox-shell .checkbox-off {
    width: 24px;
    height: 24px;
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: rgb(216, 216, 216);
	margin: 20px 0px 0px 20px;
}

.mobile .search .checkbox-shell .checkbox-on {
    width: 6.5px;
    height: 6.5px;
    border-radius: 5px;
    border: solid;
    border-width: 9px;
    border-color: rgb(33, 109, 223);
	margin: 20px 0px 0px 20px;
}

.mobile .search .checkbox-shell .category {
    font-size: 12px;
    font-family: 'helvetica';
	padding-top: 0px;
	margin: 25px 0px 0px 55px;
}

.mobile .search .checkbox-shell .tip-icon {
    width: 17px;
    height: 17px;
    margin: 23px 0px 0px -20px;
}



/* Mobile Dealers *************************************************/
.mobile .dealer-shell .dealers {
    width: 356px;
    height: 496px;
    border-radius: 10px;
    border: solid;
    border-width: 1px;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, .12);
    float: left;
    margin: 5px 5px 5px 5px;
}

.mobile .dealer-shell .dealers .title {
    font-family: 'helvetica';
    font-size: 24px;
    width: 326px;
    text-align: center;
	margin: 41px 0px 0px 14px;
}

.mobile .dealer-shell .dealers .mobile-dial {
    background-color: rgba(33, 109, 223, 100);
    border-radius: 4px;
}

.mobile .dealer-shell .dealers .phone-icon {
    width: 28px;
    height: 28px;
    float: left;
    margin-left: 60px;
}

.mobile .dealer-shell .dealers .dealer-number {
    font-family: 'helvetica';
    font-weight: 300;
    font-size: 26px;
    color: rgb(63, 63, 63);
    margin-left: 116px;
}

.mobile .dealer-shell .dealers .email-prompt {
    font-family: 'helvetica';
    font-size: 10px;
    font-style: italic;
	margin: 21px 0px 0px 74px;
}

.mobile .dealer-shell .dealers .email-shell {
    width: 204px;
    height: 44px;
    border: solid;
    border-radius: 2px;
    border-width: 1px;
    border-color: rgb(2, 199, 198);
	margin: 18px 0px 0px 71px;
}

.mobile .dealer-shell .dealers .email-icon {
    width: 14.93px;
    height: 12.8px;
    float: left;
	margin: 15px 0px 0px 21px;
}

.mobile .dealer-shell .dealers .email-text {
    font-family: 'helvetica';
    font-weight: 600;
    font-size: 16px;
    font-weight: normal;
    color: rgb(8, 61, 140);
	margin: 14px 0px 0px 49px;
}

.mobile .dealer-shell .dealers .business-hours {
    text-align: center;
    font-size: 12px;
    color: rgb(63, 63, 63);
    margin-top: 30px;
}



/* Footer ****************************************************/
.mobile .footer {
    background-color: rgb(8, 61, 140);
    height: 132px;
    width: 100%;
}

.mobile .footer .footer-logo {
    width: 188px;
    height: 26px;
    margin: 39px 0px 0px 92px;
}

.mobile .footer .footer-content {
    margin: 32px 0px 0px 22px;
}

.mobile .footer .footer-text {
    font-size: 14px;
    font-family: 'helvetica';
    font-weight: 400;
    color: rgb(255, 255, 255);
	margin: 0px 0px 0px 0px;
}

.mobile .footer .footer-icon-twitter {
    width: 25px;
    height: 25px;
    margin: 0px 0px 0px 65px;
}

.mobile .footer .footer-icon-facebook {
    width: 17px;
    height: 31px;
    margin: 0px 0px 0px 27px;
}

.mobile .footer .footer-icon-youtube {
    width: 27px;
    height: 27px;
    margin: 2px 0px 0px 21px;
}

.mobile .bottom-banner {
    background-color: rgb(33, 109, 223);
    height: 39px;
}

.mobile .bottom-banner .bottom-banner-text {
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'helvetica';
    font-size: 13px;
    padding-top: 11px;
}



/* Bottom banner mobile *******************************************/
.mobile .top-banner {
    background-color: rgb(33, 109, 223);
    height: 42px;
}

.mobile .top-banner .banner-contents {
    width: 400px;
    padding: 10px;
    margin: 4px 0px 0px 0px;
}

.mobile .top-banner .banner-link {
    font-family: 'helvetica';
    font-size: 10px;
    font-weight: 100;
    color: rgba(255, 255, 255, .5);
    margin-left: 111px;
}

.mobile .bottom-banner {
    background-color: rgb(33, 109, 223);
    height: 39px;
}

.mobile .bottom-banner .bottom-banner-text {
    text-align: center;
    color: rgba(255, 255, 255, .5);
    font-family: 'helvetica';
    font-size: 10px;
    padding-top: 11px;
}

.mobile .divider {
    width: 250px;
    height: 0px;
    border: solid;
    border-color: rgba(229, 229, 229, .5);
    border-width: .5px;
    margin: auto;
}













/* MQs for reverting to mobile ****************************************************/
@media all and (max-width: 670px) {
    .app{display:none;}
}

@media all and (min-width: 670px) {
    .mobile{display:none;}
}




@media (min-width: 1029px) {
    .app .header .header-logo {
        width: 231px;
        height: 33px;
        margin: 31px 0px 0px 5.33%;
    }
}

@media (min-width: 500px) and (max-width: 1029px) {
    .app .header .header-logo {
        width: 231px;
        height: 33px;
        margin-top: 31px;
        margin-left: 35vw;
    }
	.app .hero-image {
		margin-top: 65px;
	}
}

@media (min-width: 500px) and (max-width: 760px) {
	.app .header .header-right .nav {
		width: 100%;
		margin-left: 0 auto;
		margin-right: 0 auto;
	}
	.app .header .header-right .finder {
		display: none;
	}
	.app .header .header-right {
		margin-right: 65px;
	}
	.left-column {
		width: 120px;
		float: left;
	}
	.right-column {
		width: 120px;
		float: left;
	}
	.dropdown-content {
		width: 250px;
	}
}

@media (min-width: 500px) and (max-width: 985px) {
    .app .search .wrapper-left {
        display: none;
    }
}




.finder, .email-shell {
	transition: background-color 0.5s ease;
}

.finder:hover, .email-shell:hover {
	background-color: rgb(33, 109, 223);
}


